<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>developmentAppKey</key>
	<string>GTPJTqqrS9CXa4uNlTSU9Q</string>
	<key>developmentAppSecret</key>
	<string>rEj9urf4R3SkqkmMbXEWuA</string>
	<key>detectProvisioningMode</key>
	<string>Yes</string>
</dict>
</plist>
